.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
}

.nav-list-items > ul {
    list-style-type: none;
    display: flex;
}

.nav-list-items > ul > li {
    padding: 10px;
}

.logo {
    width: 100px;
    padding: 10px;
}

.card {
    width: 258px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.card > img {
    width: 100%;
}

.restaurant-list {
    display: flex;
    flex-wrap: wrap;
}
